<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="AccCtrl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="accForm" ng-submit="addAccount()">
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" ng-model="newAccount.email"/>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" ng-model="newAccount.password"/>
    </div>
    <div>
        <label for="money">Money</label>
        <input type="money" name="money" id="money" ng-model="newAccount.money"/>
    </div>
    <div>
        <input type="submit" id="registerAccount" value="Sign-up"/>
    </div>
</form>

<form name="accForm" ng-submit="getAccount()">
    <div>
        <label for="mail">CheckEmail</label>
        <input type="text" name="mail" id="mail" ng-model="ExistingAccount.email"/>
    </div>

    <div>
        <input type="submit" id="check" value="Check"/>
    </div>
</form>

<table style="border: 1px solid black;" ng-show="accountFound">
    <tr>
        <td>{{ExistingAccount.id}}</td>
        <td>{{ExistingAccount.email}}</td>
        <td>{{ExistingAccount.password}}</td>
        <td>{{ExistingAccount.money}}</td>
        <td>{{ExistingAccount.creationDate}}</td>
    </tr>
</table>

</body>
</html>