<?xml version="1.0" encoding="UTF-8"?>
<div>
    <h1 align="center">International Bank Application</h1>
    <div>
        <p>You have successfully connected to the Application.</p>
    </div>
    <!-- Standard HTML form, with the submit function bound to the register() function defined in the the controller -->
    <form name="regForm" ng-submit="register()">
        <h2>Member Registration</h2>
        <fieldset>
            <legend>Register a member:</legend>
            <!-- Each input is bound to a property on the prototype newMember object -->
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" ng-model="newPerson.name" placeholder="Your Name" required
                       autofocus/>
                <!--
                <span class="error" ng-show="regForm.name.$error.required">required</span>
                <span class="error" ng-show="errors.name">{{errors.name}}</span>
                !-->
            </div>
            <div>
                <label for="lname">Lname:</label>
                <input type="text" name="lname" id="lname" ng-model="newPerson.lname" placeholder="Your Lastname"
                       required/>
                <!--
                <span class="error" ng-show="regForm.email.$error.required">required</span>
                <span class="error" ng-show="regForm.email.$error.email">not a valid email</span>
                <span class="error" ng-show="errors.email">{{errors.email}}</span>
                !-->
            </div>
            <div>
                <label for="dob">Date</label>
                <input type="date" name="dob" id="dob" ng-model="newPerson.dob" placeholder="Your Date" required/>
                <!--
                <span class="error" ng-show="regForm.phoneNumber.$error.required">required</span>
                <span class="error" ng-show="regForm.phoneNumber.$error.pattern">must be between 10 and 12 digits</span>
                <span class="error" ng-show="errors.phoneNumber">{{errors.phoneNumber}}</span>
                !-->
            </div>

            <!-- We output a list of success messages (appropriately styled!) for the form. -->
            <ul ng-hide="!successMessages" class="success">
                <li ng-repeat="message in successMessages">{{message}}</li>
            </ul>

            <!-- Output the list of error messages if any. -->
            <ul ng-hide="!errorMessages" class="error">
                <li ng-repeat="message in errorMessages">{{message}}</li>
            </ul>

            <!-- There are two buttons, the default submit action (which is bound for the whole form), and a reset button, that clears the form. -->
            <div>
                <input type="submit" ng-disabled="regForm.$invalid" id="register" value="Register"/>
                <input type="button" ng-click="reset()" name="cancel"
                       id="cancel" value="Cancel"/>
            </div>
        </fieldset>
    </form>

    <!-- A list of registered members -->
    <h2>Persons</h2>
    <!-- If there are no members registered, instead of showing the table, we show a simple message. -->
    <em ng-show="persons.length == 0">No registered members.</em>
    <table ng-hide="persons.length == 0" class="simpletablestyle">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Lname</th>
            <th>Date</th>
            <th>REST URL</th>
        </tr>
        </thead>
        <!-- The table is built using the AngularJS repeat function, iterating over the members variable, and ordering by the property specified in the orderBy variable -->
        <tr ng-repeat="person in persons | orderBy:orderBy">
            <td>{{person.id}}</td>
            <td>{{person.name}}</td>
            <td>{{person.lname}}</td>
            <td>{{person.dob}}</td>
            <td><a href="rest/person/{{person.id}}">details-{{person.id}}</a>
            </td>
    </table>
    <div>
        REST URL for all members: <a href="rest/members">/rest/members</a>
    </div>
    <div>
        <!-- The table has a button to manually refresh the values, in case, for example, someone else adds a member -->
        <input type="button" ng-click="refresh()" name="refresh"
               id="refresh" value="Refresh"/>
    </div>
</div>
