<?xml version="1.0" encoding="UTF-8"?>
<div ng-controller="MembersCtrl">
    <h1 align="center">International Bank Application</h1>
    <div>
        <p>You have successfully connected to the Application.</p>
    </div>
    <form name="regForm" ng-submit="register()">
        <h2>Member Registration</h2>
        <fieldset>
            <legend>Register a member:</legend>
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" ng-model="newPerson.name" placeholder="Your Name" required
                       autofocus/>
            </div>
            <div>
                <label for="lname">Lname:</label>
                <input type="text" name="lname" id="lname" ng-model="newPerson.lname" placeholder="Your Lastname"
                       required/>
            </div>
            <div>
                <label for="dob">Date</label>
                <input type="text" name="dob" id="dob" ng-model="newPerson.dob" placeholder="Your Date" required/>
            </div>
            <div>
                <b>ORDER</b>
            </div>
            <div>
                <label for="desc">desc</label>
                <input type="checkbox" name="desc" id="desc" ng-model="desc"/>
            </div>
            <label>
                <label for="orderId">orderId</label>
                <input type="radio" name="orderId" id="orderId" ng-model="orderBy" value="id"/>
            </label>
            <label>
                <label for="orderName">orderName</label>
                <input type="radio" name="orderName" id="orderName" ng-model="orderBy" value="name"/>
            </label>
            <label>
                <label for="orderLname">orderLname</label>
                <input type="radio" name="orderLname" id="orderLname" ng-model="orderBy" value="lname"/>
            </label>
            <label>
                <label for="orderDate">orderDate</label>
                <input type="radio" name="orderDate" id="orderDate" ng-model="orderBy" value="dob"/>
            </label>
            <br>

            <ul ng-hide="!successMessages" class="success">
                <li ng-repeat="message in successMessages">{{message}}</li>
            </ul>

            <ul ng-hide="!errorMessages" class="error">
                <li ng-repeat="message in errorMessages">{{message}}</li>
            </ul>


            <div>
                <input type="submit" id="register" value="Register"/>
                <input type="button" ng-click="reset()" name="cancel"
                       id="cancel" value="Cancel"/>
            </div>
        </fieldset>
    </form>
    <h2>Persons</h2>
    <em ng-show="persons.length == 0">No registered members.</em>
    <table ng-hide="persons.length == 0" class="simpletablestyle">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Lname</th>
            <th>Date</th>
            <th>REST URL</th>
        </tr>
        </thead>
        <tr ng-repeat="person in persons | orderBy:orderBy:desc">
            <td>{{person.id}}</td>
            <td>{{person.name}}</td>
            <td>{{person.lname}}</td>
            <td>{{person.dob}}</td>
            <td><input type="button" name="remove" value="remove" ng-click="remove(person.id)"/></td>
            </td>
    </table>
    <div>
        REST URL for all members: <a href="rest/members">/rest/members</a>
    </div>
    <div>
        <input type="button" ng-click="refresh()" name="refresh"
               id="refresh" value="Refresh"/>
    </div>
</div>
